body {
  margin: 0;
}

header {
  display: flex;
  padding: 1.5em 1em;
  justify-content: space-between;
}

.mainbgc {
  background-color: #061130;
  padding-bottom: 27em;
  margin: 0;

}

main>p {
  color: #fafd61;
}

footer>div {
  background-color: white;
  padding: 2.5em;
  justify-content: space-evenly;
  display: flex;
}

footer>nav {
  background-color: lightgray;
  padding-bottom: 8em;
}

header.buttons {
  display: flex;

}