body {
  margin: 0;
}

header {
  display: flex;
  padding: 3vh 2vh;
  justify-content: space-between;
}

main {
  padding: 5vh 27vh 8vh 29vh;
  display: flex;
  justify-content: space-between;
}


h1 {
  color: white;
}



footer>div {
  background-color: white;
  padding: 6vh;
  justify-content: space-evenly;
  display: flex;
  font-weight: bold;
}

footer>nav {
  background-color: lightgray;
  padding: 3.4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.buttons {
  display: flex;

}

.mainbgc {
  background-color: #061130;
  padding-bottom: 1em;
  margin: 0;

}

.main-text {
  max-width: 33%;
}

.main-text>p {
  color: white;
}

.main-text>b {
  color: #fafd61;
}